<form enctype="Content-Type: application/json" method="post"  action="/reservations/update">
{{#if data}}
<h3>table id: {{data.table_id}}</h3>
  <div class="form-group">
    <label for="formGroupExampleInput">Number of guests</label>
    <input type="text" class="form-control" name="guests" placeholder="name" value="{{data.guests}}">
    <input type="text" class="form-control" name="start_time" placeholder="start" value="{{data.start_time}}">
    <input type="text" class="form-control" name="end_time" placeholder="end" value="{{data.end_time}}">
    <input type="hidden" class="form-control" name="current_id" placeholder="name" value="{{data.id}}">
  </div>

   <input type="submit" class="btn btn-primary" value="Send">
 </div>
 {{/if}}
</form>
